<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="integration-test-suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="SOME_KEY"/>
        <!--
            Two rackspace containers one public and one private
            If you want to use anything other Rackspace file system driver
            You should change the fixtures/config/file_secretary.php
        -->
        <env name="RS_PRIVATE_USER" value=""/>
        <env name="RS_PRIVATE_KEY" value=""/>
        <env name="RS_PRIVATE_CONTAINER" value=""/>
        <env name="RS_PRIVATE_REGION" value=""/>
        <env name="RS_PUBLIC_USER" value=""/>
        <env name="RS_PUBLIC_KEY" value=""/>
        <env name="RS_PUBLIC_CONTAINER" value=""/>
        <env name="DB_CONNECTION" value="testing"/>
        <!-- In case of using anything other than sqlite in memory for testing, change database config and fill the following -->
        <env name="DB_HOST" value=""/>
        <env name="DB_DATABASE" value=""/>
        <env name="DB_USERNAME" value=""/>
        <env name="DB_PASSWORD" value=""/>
    </php>
</phpunit>